<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (reservations.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">House Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Rental Start Date</th>
                        <th scope="col">Rental End Date</th>
                        <th scope="col">Fee to Provider</th>
                    </tr>
                </thead>
                <tbody>
                    <% reservations.forEach((reservation, index) => { %>
                        <tr>
                            <td><%= reservation.house_name %></td>
                            <td><%= reservation.owner %></td>
                            <td><%= reservation.customer %></td>
                            <td><%= reservation.rental_startdate %></td>
                            <td><%= reservation.rental_enddate %></td>
                            <td><%= reservation.fee_to_provider %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No players found. Go <a href="/add" >here</a> to add players.</p>
        <% } %>
    </div>
</div>
</body>
</html>